.devcontainer/*
.vscode/*
bootloader/*
bootloader-prefix/*
CMakeFiles/*
config/*
esp-idf/*
gdbinit/*
build/
*.json
*.in
build.ninja
CMakeLists.txt
CMakeCache.txt
app-flash_args
bootloader-flash_args
cmake_install.cmake
config.env
dependencies.lock
flash_app_args
flash_args
flash_bootloader_args
flash_project_args
ldgen_libraries
partition-table-flash_args
pytest_hello_world.py
sdkconfig
sdkconfig.ci
sdkconfig.old
